
.ThemeBlack h3{
    color: darkred;
}

.ThemeBlack p{
    color: darkred;
}

.ThemeClearSky h3{
    color: skyblue;
}

.ThemeClearSky p{
    color: skyblue;
}

.ThemeWhite h3{
    color: wheat;
}

.ThemeWhite p{
    color: wheat;
}